<html>
<head> <title> Know us! </title>
</head>
<style>
body{ background-color:#FFF8DC;}
.contents{ width-50%;  text-align:left; margin-left:10%;}
@font-face { font-family : "AlexBrush"; src: url("{{STATIC_URL}}fonts/AlexBrush-Regular.ttf"); }
.fl { color: magenta; font-family: "AlexBrush","gentium"; margin-top:2%; font-size: 52px; }
.sl { color: #080099 ; font-family: "AlexBrush","gentium"; margin-top:2%; font-size: 52px; }
h2{ color:#0000FF; text-align: center;}
</style>
<body>
<h2> <span class="fl">K</span>now <span class="sl"> U</span>s ! </h2>
<div class="contents">
A Slice Of Heaven is an initiative by Saloni Baweja, A greener and marvellous chef who has recently entered into this world of cokking. A Slice Of Heaven aims at raising the home chefs to the level of the professional chefs by just few clicks. 
<p>We also provide a platform for the people who think they can cook at a higher level and get the mouths of thousands of people watered.<p>
 You can submit your recipes here and see them being viewed and cooked by millions of people.<p>That's not all! We are also associated with many popular and world class hotels and restaurants that frequently search for newer and unique recipes over our site. <p>The consequences of this might not be that worse. Only that, that might be offered a chef's job or your recipeimay be awarded and copyrighted. So, what are you waiting for ! May be your recipe is their pick. So, get set go and Explore us more !!</p>

Good Luck !
</div>
