<!Doctype html>
<html>
    <head>
    <style>
    @font-face { font-family : "AlexBrush"; src: url("{{STATIC_URL}}fonts/AlexBrush-Regular.ttf"); }
    body{
    background:#000;
}
p{
    color:white;
}
#watermark
{
 position:fixed;
 
 opacity:0.2;
 z-index:99;
 color:white;
}
</style>
<body>
<div id="watermark"><img src="{{STATIC_URL}}allrecipes/images(15).jpg" width="1300px" height="720px"></div>
<div class= "title" style="width:550px;"height="5%">
 <h1 style="color:white;font-size:500% ; margin-top:0%;float:left;font-family: AlexBrush">About Us </h1> <br/></br></br></br>
 <b><span style="color:white;font-size:120%; margin-top:1% ;font-family: AlexBrush">Have an insight of what we are !</b></span> 
 </div>
 </br>
 <div style="display:inline; margin-top:0%; height:10px">
 <img src="{{STATIC_URL}}allrecipes/saloni.jpg" width="12%" height = "10%" style="caption: Saloni Baweja;float:left;margin-top:0%;width:12%;height:12%"/><br/> 
 <img src="{{STATIC_URL}}allrecipes/shailza.jpg" width="12%" height = "10%" style="float:left;margin-top:1%;width:12%;height:12%"/>
 <!--<img src="{{STATIC_URL}}images/aashita.jpg" width="10%" height = "10%" style="float:left;margin-top:2%; position:relative;display:inline;width:10%;height:10%""/>-->
 </div>
 
<div class="content"  style="color:white;float:right;width:40%; margin-left: 1%;margin-top: -10%;margin-top:0%; font-family: AlexBrush;font-size:150%;">
<h3> What is Slice Of Heaven ? </h3>
<h4>
 Welcome to Slice Of Heaven! Our names will be disclosed later and we are the founder of Slice Of Heaven,
 <br/>a place to explore the senses of taste!
 <p>We started developing this Application a long time after our summer internship of 2nd year where we had learnt Django.</p>
Nah ! don't get us wrong .<p> We didn't have any craze for <i>Jango...oops ! Django..</i>We didn't even know the word started with a 'silent' D when we first heard it ! :p :p
It was mandatory to submit a project in the 6th semester of our Engineering degree, hence you are seeing this application. </p>
<br/>
This application did trigger in us the craze for django, did help in multiplying our skill set by some significant factor and made us develop an application similar to an application we thought of a long time ago.
<p> Time to disclose the names of the Super Girls ! :p </p>
Starting From the left, <br/>
    Saloni Baweja</br>
    Shailza Jolly</br>
  
 


  </div>
</h1></center>
</body>
</html>
